<html>
    <head>
        <meta charset='UTF-8' />
        <title>Reset Password</title>
    </head>
    <body>
        <h1>Reset Password</h1>
        <p>Hello,</p>
        <p>We received a request to reset your password. If you did not initiate
            this request, please disregard this email.</p>
        <p>To reset your password, click on the button below:</p>
        <a
            href='{{resetPassURL}}'
            target='_blank'
            style='display: inline-block; padding: 12px 24px; background-color: #000; color: white; text-decoration: none;'
        >Reset Password</a>
        <p>If the above button does not work, you can copy and paste the
            following URL into your browser:</p>
        <p
            style='width: 100%; overflow: scroll; word-break: break-all;'
        >{{resetPassURL}}</p>
        <p>This link will expire in 1 hour.</p>
        <p>Thank you,</p>
        <p>The DevCrew Team</p>
    </body>
</html>